:root {
    --primary: #273043ff;
    --secondary: #727a97ff;
    --background: #eff6eeff;
    --accentwarm: #dd614aff;
    --accentcool: #32936fff;
}


.mapbox-directions-component{
    display: none;
}

.mapbox-directions-instructions{
    display: none;
}